/*!CK:406993276!*//*1402435375,*/

.sp_BOHU0hhGza0{background-image:url(/rsrc.php/v2/y7/r/xio-t7V2vIA.png);background-size:17px 51px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_BOHU0hhGza0.sx_4acd7d{background-position:0 0}.sp_BOHU0hhGza0.sx_c3042b{background-position:0 -17px}.sp_BOHU0hhGza0.sx_e3a2aa{background-position:0 -34px}

#bootloader_rS73w { height: 42px; }
.bootloader_rS73w { display:block !important; }