/*!CK:4126204939!*//*1401158196,178171423*/

.sp_YozXutQoR31{background-image:url(/rsrc.php/v2/y_/r/b7Pbos8uCu1.png);background-size:65px 43px;background-repeat:no-repeat;display:inline-block;height:9px;width:5px}.sp_YozXutQoR31.sx_e02c5c{width:32px;height:32px;background-position:-32px 0}.selected .sp_YozXutQoR31.sx_e02c5c{background-position:0 0}.sp_YozXutQoR31.sx_dc94ce{background-position:0 -33px}

#bootloader_KeYw8 { height: 42px; }
.bootloader_KeYw8 { display:block !important; }