/*!CK:3106698174!*//*1401725860,178146385*/

.sp_99ODpUaMBqF{background-image:url(/rsrc.php/v2/yt/r/CpvcWW-Jyrp.png);background-size:17px 51px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_99ODpUaMBqF.sx_88d4cd{background-position:0 0}.sp_99ODpUaMBqF.sx_cd1e6f{background-position:0 -17px}.sp_99ODpUaMBqF.sx_e71c29{background-position:0 -34px}

#bootloader_oAHlb { height: 42px; }
.bootloader_oAHlb { display:block !important; }