/*!CK:2172779110!*//*1402976185,*/

.sp_DSC2rrhk_Qs{background-image:url(/rsrc.php/v2/yG/r/NANUoIgao_3.png);background-size:17px 85px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_DSC2rrhk_Qs.sx_3a4d28{background-position:0 0}.sp_DSC2rrhk_Qs.sx_5166d2{background-position:0 -17px}.sp_DSC2rrhk_Qs.sx_adbf82{background-position:0 -34px}.sp_DSC2rrhk_Qs.sx_97d73d{background-position:0 -51px}.sp_DSC2rrhk_Qs.sx_494e02{background-position:0 -68px}

#bootloader_7zet8 { height: 42px; }
.bootloader_7zet8 { display:block !important; }