/*!CK:1971923566!*//*1402991613,*/

.sp_FnqbdxSUMcH{background-image:url(/rsrc.php/v2/yj/r/9ptmHAfffnQ.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_FnqbdxSUMcH.sx_0438a4{background-position:0 0}.sp_FnqbdxSUMcH.sx_53629a{background-position:0 -17px}

#bootloader_JBLXK { height: 42px; }
.bootloader_JBLXK { display:block !important; }