/*!CK:61678776!*//*1400463009,178134343*/

.sp_ZTOb7jWmuSN{background-image:url(/rsrc.php/v2/yE/r/njSQ3pOLqbw.png);background-size:17px 85px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_ZTOb7jWmuSN.sx_2c78c0{background-position:0 0}.sp_ZTOb7jWmuSN.sx_e7b402{background-position:0 -17px}.sp_ZTOb7jWmuSN.sx_4f3b07{background-position:0 -34px}.sp_ZTOb7jWmuSN.sx_911b81{background-position:0 -51px}.sp_ZTOb7jWmuSN.sx_7a1bb6{background-position:0 -68px}

#bootloader_O7F48 { height: 42px; }
.bootloader_O7F48 { display:block !important; }